<% content_for :javascript_event_controllers do %>
  <%=javascript_include_tag 'people', 'data-turbolinks-track' => true %>
<%end%>
<%= render 'form'%>

<div class="person_submit_button">
  <button id="test">
    HEY
  </button>
</div>