<p>My app uses the US Census Data from 2010 and messes with the data. Not only does it give the user a the actual numbers that are returned, but I have then incorporated a GoogleMaps canvas onto my data page to help visualize the numbers.</p>

<p>To get that data, a user can decide to either explore the data or family members or famous people.</p>





