/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 * 
 *= require_tree ../stylesheets/animsition/.
 *= require_self

 */

/* 

5 colors are:
  #011627 -- Dark blue
  #0B3648 -- Blue
  #3B6058 -- Sea Foam
  #97A14A -- Green Yellow
  #7B5E7B -- Lighter Purple

 */

@font-face {
  font-family: 'Amble';
  font-weight: normal;
  font-style: normal;
  src: url('amble.ttf')  format('truetype');
}

body {
  font-family: "Amble";
  background-color: #3B6058;
  margin: 1%;
}

p {
 color: #011627;
}

h2 {
 color: #011627;
}

h3 {
 color: #011627;
}

.header {
    background: #011627;
    float: center;
}

 .tabs {
    width:100%;
    display:inline-block;
}

h1 {
  color: #011627;
}

.individual_tab {
    margin:0px 5px;
    float:center;
    padding:9px 20px;
    display:inline-block;
    background: #97A14A;
    font-size:18px;
    font-weight:600;
    color: #011627;
    text-decoration: none;
}
/* Link that, thru jQuery, flips the page when you go to the next page.*/
.animsition-link {
    text-decoration: none;
    color: #011627;
}

#log_out {
    text-decoration: none;
    color: #011627;
}

.button a {
  border: 2px solid #011627;
  text-decoration: none;
  color: #97A14A;
  background-color: #011627
}

a:hover {
    text-decoration: none;
    color: #0B3648;
    font-size: 26px;
    padding: 0px;
    height: 34px; 
    width: 268px;
    padding: 5px;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 34px;
    text-transform: 3s;
}
label {
  color: #011627;
}

.field {
  font-size: 20px;
}



input {
  padding: 10px;
  border: solid;
  border-color: #011627;
  focus: false;
  background-color: #97A14A;
}

input[type="submit"] {
  color: #97A14A;
  background-color: #011627;
  padding: 5px;
  font-size: 18px;
  margin: 8px;

}

input[type="checkbox"] {
  background-color: #011627;
  border: 1px;
  font-size: 18px;
  margin: 8px;
  opacity: 5;

}

.selected {
    background: #011627;
    color: white; 

}

select {
   background: transparent;
   width: 268px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
   }

   select {
   width: 240px;
   height: 34px;
   overflow: hidden;
   background: url(new_arrow.png) no-repeat right #ddd;
   border: 1px solid #ccc;
   }

.person_submit_button {
    margin:0px 5px;
    float:center;
    padding:9px 20px;
    display:inline-block;
    background:#5F9F9F;
  }

.button {
  color: #0B3648;
  text-decoration: none;
}


#map {
  display: block;
  float: center;
  border: 5px solid #011627;
  position: relative;
  width: 100%;
}



.circles {
  border: 5px solid #011627;
  width: 40%;
  float: center;
}

.circles li {
  list-style-type: none;
  background-color: #999968;
}

.right h2{
  margin: 10px;
}
.right h3{
  margin: 10px;
}
.right .picture{
  margin: 10px;
}
.right p{
  margin: 10px;
}


