// Place all the styles related to the splash controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#name {
  font-color: #37948B;
}
.people {
  color: yellow;
  text-decoration: none;
}

.person {
  text-decoration: none;
  list-style: none;
}

.person h3 {
  font-size: 30px;
  background-color: white;
  margin:0px 0px;
  float:center;
  padding:9px 20px;
  display:inline-block;
}

.picture {
  margin-bottom: 20px;
}

.main_canvas {
    background: white;
    border: #333333 solid 1px;
    margin-left: 45px;
    cursor: pointer;
    float: center;
    margin-right: 55%;
}

.left {
    background-color: #F2F1ED;
    float: left;
    width: 45%;
    padding-left: 30px;
    margin-left: 45px;
    padding-bottom: 30px;
    margin-bottom: 20px;
}

.right {
    background-color: #F2F1ED;
    margin-left: 55%;
}