// Place all the styles related to the splash controller here.
// They will automatically be included in application.css.


/*View page:
  app/views/splash
*/

.left {
    background-color: #97A14A;
    float: left;
    width: 45%;
}

.right {
    background-color: #97A14A;
    margin-left: 55%;
}