<div class="tabs">
  <ul>
    <li class="individual_tab" id="home">Home</li> 
    <li class="individual_tab" id="about">About</li>
    <li class="individual_tab" id="family">Family</li>
    <li class="individual_tab" id="data">Data</li> 
    <% if logged_in? %>
    <li class="individual_tab" id="session">Log out</li>
    <% else%><li class="individual_tab" id="session"><%= link_to "Log In", sign_up_path%></li>
    <%end%> 
  </ul>
</div>